/* убрать перед мерджем */

body {
  padding: 10px;
  background-color: bisque;
}

/* !!!  */

.input {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
}

.input .input__cover {
  position: relative;
  width: 100%;
  margin-top: 4px;
}

.input__input-element {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  font-size: inherit;
  line-height: inherit;
  background-color: var(--card-input-color);
  border: 1px solid var(--caption-color);
  border-radius: var(--border-raduis-main);
  appearance: none;
}

.input__input-element::placeholder {
  color: var(--caption-color);
}

.input__hint {
  color: inherit;
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
}

.input_error .input__input-element {
  max-height: 48px;
  border-color: var(--error-color);
}

.input_error .input__hint {
  color: var(--error-color);
}

.search-input .input__input-element {
  margin: 0;
  padding-left: 44px;
  border: none;
}

.search__icon-button {
  position: absolute;
  top: 50%;
  left: 12px;
  height: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  translate: 0 -50%;
}

.search__icon {
  cursor: pointer;
}

.show-password-icon-button {
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 2;
  display: flex;
  justify-content: end;
  width: 50px;
  height: 24px;
  padding: 0;
  background-color: var(--card-input-color);
  border: none;
  cursor: pointer;
  translate: 0 -50%;
}

.show-password-icon {
  cursor: pointer;
}
