.page {
  max-width: 1200px;
  min-height: 100vh;
  padding: 32px 16px;
  background-color: var(--bg-color);
}

.cardsSection {
  max-width: 1200px;
  margin: 0 auto;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
  justify-items: stretch;
  gap: 24px;
}
