.image {
  display: block;
  width: 100px;
  height: 100px;
  margin: auto;
  padding-bottom: 52px;
  object-fit: cover;
  object-position: center;
}

.title {
  padding-bottom: 12px;
  color: var(--text-color);
  font-weight: var(--font-weight-accent);
  font-size: var(--font-size-h2);
  font-family: var(--font-accent);
  line-height: 1.17;
  letter-spacing: -1.1%;
  text-align: center;
}

.content {
  padding-bottom: 32px;
  color: var(--text-color);
  font-weight: var(--font-weight);
  font-size: var(--font-size-main);
  font-family: var(--font-main);
  line-height: 1.5;
  letter-spacing: 2%;
  text-align: center;
  text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.button {
  width: 100%;
  height: 48px;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-weight: var(--font-weight);
  font-size: var(--font-size-main);
  font-family: var(--font-main);
  line-height: 1.5;
  text-align: center;
  background-color: var(--accent-color);
  border-radius: var(--border-raduis-main);
  cursor: pointer;
}
