.header {
  box-sizing: border-box;
  padding: 36px 36px 20px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  color: var(--text-color);
  font-weight: var(--font-weight);
  font-size: var(--font-size-main);
  font-family: var(--font-main);
  line-height: 0.67;
  letter-spacing: 0.32px;
  white-space: nowrap;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 0;
  padding: 0;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: 0.67;
  letter-spacing: 0.32px;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  aspect-ratio: 1;
  object-fit: cover;
  line-height: 0;
}

.input {
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
